<div class="back-link">
    <a href="#" onclick="window.history.back();" class="btn btn-primary">Voltar</a>
</div>
<div class="error-container">
    <i class="pe-7s-way text-success big-icon"></i>
    <h1>500</h1>
    <strong>Ocorreu um erro!</strong>
    <p>
        Desculpa, mas aconteceu um erro, tente voltar e continuar navegando, se o porblema persistir entre em contato.

    </p>
</div>