Para recuperar sua senha clique no link abaixo<br>
<br>
<a href="<?php echo $url;?>" class="btn-primary">Recuperar senha</a>
<br>
<br>
Caso não tenha sido você quem fez a solicitação, ignore esse e-mail!