<?php echo $this->doctype() ?>
<html lang="<?php echo $this->locale; ?>">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->configHelper('title'))->setSeparator(' | ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Styles -->
        <?php
        $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
                ->prependStylesheet($this->basePath('vendor/homer-assets/styles/style.css'))
                ->prependStylesheet($this->basePath('vendor/homer-assets/fonts/pe-icon-7-stroke/css/helper.css'))
                ->prependStylesheet($this->basePath('vendor/homer-assets/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css'))
                ->prependStylesheet($this->basePath('vendor/homer-assets/vendor/bootstrap/dist/css/bootstrap.css'))
                ->prependStylesheet($this->basePath('vendor/homer-assets/vendor/animate.css/animate.css'))
                ->prependStylesheet($this->basePath('vendor/homer-assets/vendor/toastr/build/toastr.min.css'))
                ->prependStylesheet($this->basePath('vendor/homer-assets/vendor/metisMenu/dist/metisMenu.css'))
                ->prependStylesheet($this->basePath('vendor/homer-assets/vendor/fontawesome/css/font-awesome.css'))
                //Ladda
                ->prependStylesheet($this->basePath('vendor/homer-assets/vendor/ladda/dist/ladda.min.css'))

        ?>
        <?php echo $this->headLink(); ?>


    </head>
    <body class="blank">
        <!-- Simple splash screen-->
        <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1> ... </h1><p> ... </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
        <!--[if lt IE 7]>
        <p class="alert alert-danger">Você está usando um navegador <strong>desatualizado</strong>. Por favor acesse <a href="http://browsehappy.com/"> e atualize seu browser</a> para melhorar sua experiência.</p>
        <![endif]-->

        <div class="color-line"></div>

        <?php echo $this->content; ?>

        <?php echo $this->partial('base/view/layout/modal');?>
        <!-- Scripts -->
        <?php
        $this->headScript()
                ->prependFile($this->basePath('vendor/homer-assets/scripts/homer.js'))
                //LAdda Buttons
                ->prependFile($this->basePath('vendor/homer-assets/vendor/ladda/dist/ladda.jquery.min.js'))
                ->prependFile($this->basePath('vendor/homer-assets/vendor/ladda/dist/ladda.min.js'))
                ->prependFile($this->basePath('vendor/homer-assets/vendor/ladda/dist/spin.min.js'))

                ->prependFile($this->basePath('vendor/homer-assets/vendor/sparkline/index.js'))
                ->prependFile($this->basePath('vendor/homer-assets/vendor/iCheck/icheck.min.js'))
                ->prependFile($this->basePath('vendor/homer-assets/vendor/jquery-validation/jquery.validate.min.js'))
                ->prependFile($this->basePath('vendor/homer-assets/vendor/toastr/build/toastr.min.js'))
                ->prependFile($this->basePath('vendor/homer-assets/vendor/metisMenu/dist/metisMenu.min.js'))
                ->prependFile($this->basePath('vendor/homer-assets/vendor/bootstrap/dist/js/bootstrap.min.js'))
                ->prependFile($this->basePath('vendor/homer-assets/vendor/slimScroll/jquery.slimscroll.min.js'))
                ->prependFile($this->basePath('vendor/homer-assets/vendor/jquery-ui/jquery-ui.min.js'))
                ->prependFile($this->basePath('vendor/homer-assets/vendor/jquery/dist/jquery.min.js'))
        ?>
        <?php echo $this->headScript(); ?>
        <script>
            var Scripts = [];
            Scripts.LaddaStart = function(){
                Ladda.bind( '.ladda-button',{
                    callback: function( instance ){
                        var progress = 0;
                        var interval = setInterval( function(){
                            progress = Math.min( progress + Math.random() * 0.1, 1 );
                            instance.setProgress( progress );

                            if( progress === 1 ){
                                instance.stop();
                                clearInterval( interval );
                            }
                        }, 200 );
                    }
                });
            };

            $(document).ready(function () {
                Scripts.LaddaStart();
            });
        </script>
        <?php echo $this->inlineScript() ?>
        <?php echo $this->partial('base/view/layout/toastr');?>
    </body>
</html>